@import './misc/navbar';
@import './sugar';

@import './pages/landing_page';
@import './pages/login_page';

html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    margin: 0px;
    background: var(--site-background);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: var(--site-text-color);
    font-family: 'Open Sans', sans-serif;
    position: relative;
}