@import './app';

:root {
    /* Panels. */
    --panel-background: #3500D3;
    --panel-shaded-background: #240090;
    --panel-shaded-shaded-background: #190061;

    /* Buttons. */
    --button-color: #FF8060;
    --buton-shaded-color: #CB664C;

    /* Alternative buttons. */
    --button-alt-color: #FF99FF;
    --button-alt-shaded-color: #CB7BCB;

    /* Misc */
    --site-background: #282828;
    --site-shaded-background: #252525;
    --site-text-color: #FFFFFF;
} 

color-scheme {
   color: #0C0032;
   color: #190061;
   color: #240090;
   color: #3500D3;
   color: #282828; 
}