.landing-page .main-info {
    height: 90vh;
}

.landing-page .main-title {
    text-align: center;
    font-size: 35px;
    height: 400px;
    
    margin: auto;  
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.landing-page .login-button {
    font-size: 30px;
}

.landing-page .find-out-more-button {
    font-size: 30px;
}

.landing-page .equal-button-width {
    width: 306px;
}

.landing-page .more-info {
    height: 200px;
    background-color: cadetblue;
}