.navbar {
    background-color: var(--secondary-background-color);
    position: relative;
    height: 57px;
}

.navbar .navbar-logo {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 0px;
}

.navbar .navbar-container {
    padding-left: 40px;
    background-color: var(--secondary-background-color);
    overflow: hidden;
}

.navbar .navbar-container a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-text-color);
}

.navbar .navbar-container a:hover {
    background-color: var(--tertiary-background-color);
}

.navbar .navbar-container .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar .navbar-container a:not(:first-child) {
        display: none;
    }
    .navbar .navbar-container a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive .navbar-container {
        position: relative;
    }
    .navbar.responsive .navbar-container .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive .navbar-container a {
        float: none;
        display: block;
        text-align: left;
    }
}

.navbar .navbar-container .active {
    text-decoration: underline;
}

.navbar .navbar-logo .navbar-logo-icon {
    color: var(--primary-text-color);
}