.tabs-component-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    line-height: 30px;
}

.tab-component {
    font-size: 19px;
    background-color: var(--panel-shaded-background);
    text-align: center;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.tab-component:first-child {
    margin-left: 0px;
}

.tab-component:last-child {
    margin-right: 0px;
}

.tab-component:hover {
    font-weight: 600;
    background-color: var(--panel-shaded-shaded-background);
}

.tab-component.active {
    font-weight: bold;
    background-color: var(--panel-background);
}

.tabs-component {
    margin: 30px;
}

.tabs-component-lower {
    padding: 10px;
    background-color: var(--panel-background);
}